.bestsellers-store-section {
	border-radius: 0.5rem;
	border-color: rgba(156, 163, 175);
	background-color: rgba(209, 213, 219);
	padding: 0.5rem;
	width: 100%;
}

.bestsellers-store-section-header {
	display: grid;
	grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
	width: 100%;
}
.bestsellers-store-section-header > h1 {
	display: inline-block;
	width: 100%;
	border-width: 0 0 1px;
	border-style: none;
	font-size: 1.5rem;
	font-weight: 600;
}

.bestsellers-store-section-header > span {
	display: inline-grid;
	align-items: center;
	justify-content: right;
	height: 100%;
}

.bestsellers-store-section-header > span > button {
	height: 2.5em;
	width: 10em;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 600;
}

.bestsellers-store-list {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	column-gap: 1rem;
	row-gap: 0.25rem;
	max-height: 80vh;
	min-height: 13.5rem;
	width: 100%;
	overflow: auto;
}

@media only screen and (max-width: 640px) {
	.bestsellers-store-list {
		min-height: 18rem;
	}
}

.bestsellers-store-list-empty {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: 1.1em;
	font-weight: 500;
}